*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans serif;
}

#landing-jumbo {
	height: 100vh;
	display: flex;
	align-items: center;
	color: #fff;
	background-image: url(../images/cover-photo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}


h1, h2 , h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

.card-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-container-1:hover .card-img {
  opacity: 0.3;
}

.card-container-1:hover .card-cap {
  opacity: 0.3;
}

.card-container-1:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


#about p {
	text-align: center;
	font-size: 20px;
	color: #6d908d;
}


.tech-stack {
	height: 100px;
	margin-top: 15px;
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
}

#html {
	background-image: url("../images/html5-logo.png");
}

#css {
	background-image: url("../images/css-logo.png");
}

#js {
	background-image: url("../images/js-logo.png");
}

#gitlab {
	background-image: url("../images/gitlab.png");
}

#nextjs {
	background-image: url("../images/nextjs.png");
}

#bootstrap {
	background-image: url("../images/bootstrap.png");
}

#react {
	background-image: url("../images/react.png");
}

#nodejs {
	background-image: url("../images/nodejs.png");
}

#expressjs {
	background-image: url("../images/expressjs.png");
}

#mongodb {
	background-image: url("../images/mongodb.png");
}

#postman {
	background-image: url("../images/postman.png");
}

#robo3t {
	background-image: url("../images/robo3t.png");
}

#work-button {
	flex-wrap: wrap;
}

#work-button-2 {
	margin: 20px;
}

body {
	background-color: #eee;
}

#contact-section {
	background-color: #6d908d;
	margin-top: 20vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

h2 {
	text-align: center;
	padding-top: 4vh;
	padding-bottom: 4vh;
	font-weight: bold;
}

h3 {
	padding-top: 3vh;
	padding-bottom: 3vh;
}

#form {
	text-align: left;
}

input,
textarea {
	width: 100%;
}

textarea {
	margin-top: 25px;	
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

footer {
	padding-top: 2vh;
	text-align: center;
	height: 15vh;
	background-color: #181818;
}

#footer-span {
	display: inline-flex;
}

.footer-icon {
	margin: 10px;
}

footer p {
	color: #f0f0f0;
}

